* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-img1 {
    background-image: url(./photos/backgroundImg.png);
    width: 100vw;
    height: 1400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.container0 {
    width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.header-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 43.5px;
    position: absolute;
    top: 30px;

}

.HeaderText {
    display: flex;
    color: #FFFFFF;
    gap: 24px;
    font-size: 18px;
}

.HeaderText p {
    width: 100px;
    height: 22px;
}

.tourlogo img {
    width: 101px;
    height: 35px;
}

.HeaderEnd button {
    background-color: #FFFFFF;
    border-radius: 100%;
    font-size: 14px;
    width: 40px;
    height: 40px;
    border: none;
}

.container1 {
    position: absolute;
    width: 618px;
    height: 394px;
    top: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.container1 h1 {
    font-size: 250px;
    color: #FDFDFEFA;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 p {
    font-size: 64px;
    color: #FFFFFFCC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.container1 h5 {
    font-size: 80px;
    color: #E8EDF2B8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.bg-img2 {

    background-image: url(./photos/Location\ image.png);
    width: 100vw;
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.container02 {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgstyle {
    box-shadow: 8px 8px #29728B40, -8px -8px #1F72AA75;
    width: 275.49px;
    height: 370px;
    border-radius: 40px;



}

.imgcontainer:hover {
    opacity: 1;
}

.imgs {
    width: 1202px;
    height: 370px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;


}

.imgtextContent {
    position: absolute;
    top: 0;
    width: 275.49px;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.2s;
    border-radius: 40px;

}

.imgcontainer {
    position: relative;
}

.imgtextContent:hover {
    opacity: 1;
}

.imgText {
    position: absolute;
    top: 150px;
    left: 45px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FDFDFECC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-img3 {
    background-image: url(./photos/Roadmap\ image.png);
    width: 100vw;
    height: 1600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}

.container03 {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 264px;
}

.map-container1 {
    width: 513px;
    height: 640px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.map-container2 {
    width: 647px;
    height: 640px;
}

.map-text-container1 {
    width: 1200px;
    height: 204px;
    position: relative;
}

.map-text-container2 {
    width: 1200px;
    height: 85px;
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.map-text-container2 p {
    color: #18181BB2;
    font-size: 20px;
    height: 42px;

}

.SukhbaatarSquare1 {
    background-color: #EEE9D9;
    border-radius: 120px;
    width: 513px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.SukhbaatarSquare2 {
    background-color: #8BB8C1CC;
    border-radius: 120px;
    width: 513px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.SukhbaatarSquare3 {
    background-color: #AAD8D7CC;
    border-radius: 120px;
    width: 513px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.SukhbaatarSquare4 {
    background-color: #8BC0BDCC;
    border-radius: 120px;
    width: 513px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.SukhbaatarSquare5 {
    background-color: #97CCE0CC;
    border-radius: 120px;
    width: 513px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.SukhbaatarSquare1:hover {
    border: 5px solid #FFFFFF;
    transition: 0.1s;

}

.SukhbaatarSquare2:hover {
    border: 5px solid #FFFFFF;
    transition: 0.1s
}

.SukhbaatarSquare3:hover {
    border: 5px solid #FFFFFF;
    transition: 0.1s
}

.SukhbaatarSquare4:hover {
    border: 5px solid #FFFFFF;
    transition: 0.1s
}

.SukhbaatarSquare5:hover {
    border: 5px solid #FFFFFF;
    transition: 0.1s
}


.pinIcon {
    width: 14px;
    height: 14px;
}

.iconContain {
    display: flex;
}

.SukhbaatarText {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 217px;
    height: 48px;

}

.D1 {
    background-color: #F7F6F3;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SukhbaatarTextContain {
    width: 438px;
    height: 48px;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.SukhbaatarText h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.sukhbaatar-photo img {
    width: 245px;
    height: 245px;
}

.sukhbaatar-photo {
    position: absolute;
    left: 1142px;
    top: 231px;
    opacity: 0;
}

.SukhbaatarSquare1:hover .sukhbaatar-photo {
    opacity: 1;
    transition: 0.2s;
}

.hiid-photo img {
    width: 245px;
    height: 245px;
}

.hiid-photo {
    position: absolute;
    left: 800px;
    top: -164px;
    opacity: 0;
}

.SukhbaatarSquare2:hover .hiid-photo {
    opacity: 1;
    transition: 0.2s;
}

.horgiintogoo-photo img {
    width: 245px;
    height: 245px;
}

.horgiintogoo-photo {
    position: absolute;
    left: 600px;
    top: -150px;
    opacity: 0;
}

.SukhbaatarSquare3:hover .horgiintogoo-photo {
    opacity: 1;
    transition: 0.2s;
}

.nuur1-photo img {
    width: 245px;
    height: 245px;
}

.nuur1-photo {
    position: absolute;
    left: 600px;
    top: -600px;
    opacity: 0;
}

.SukhbaatarSquare4:hover .nuur1-photo {
    opacity: 1;
    transition: 0.2s;
}

.nuur2-photo img {
    width: 245px;
    height: 245px;
}

.nuur2-photo {
    position: absolute;
    left: 770px;
    top: -450px;
    opacity: 0;
}

.SukhbaatarSquare5:hover .nuur2-photo {
    opacity: 1;
    transition: 0.2s;
}

.bg-img4 {
    background-image: url(./photos/Price&Footer\ image.png);
    width: 100vw;
    height: 1120px;
    display: flex;
    justify-content: center;

}

.PriceContainer0 {
    width: 1200px;
    height: 575px;
    position: relative;
}

.PriceHeader {
    width: 1200px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;

}

.PriceHeaderText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.PriceHeaderText h1 {

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;

}

.PriceHeader p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #18181BB2;
}

.PackageCards {
    width: 1200px;
    height: 527px;
    position: absolute;
    top: 204px;
    display: flex;
    gap: 24px;
}

.PackageCardOne {
    width: 384px;
    height: 527px;
    border-radius: 40px;
    background-color: #FAFBFC;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.PackageCardOne:hover {
    box-shadow: 10px 10px #29728B40, -10px -10px #2E414766;

}

.PackageCardOne:hover .StarterPackage {
    background-color: #18181BE5;
}

.PackageCardOne:hover .StarterPackage h1 {
    color: #FAFAFA;
}

.StarterPackage {
    width: 336px;
    height: 48px;
    border-radius: 20px;
    background-color: #A4D1E2;
}

.StarterPackageContainer {
    display: flex;
    justify-content: center;
}

.StarterPackage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.budget-container {
    width: 384px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heart-photo {
    width: 36px;
    height: 36px;
}

.budget-text h1 {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.budget-container0 {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 320px;
    height: 92px;
}

.CardOneContainer {
    width: 384px;
    height: 435px;
    display: flex;
    justify-content: center;
}

.CardOneContainer0 {
    width: 320px;
    height: 435px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.price-container {
    height: 290px;
}

.fivehundred {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fivehundred h1 {
    font-size: 40px;
}

.fivehundred p {
    font-size: 16px;
    color: #919191;
}

.includes {
    font-size: 20px;
}

.includes-text {
    display: flex;
    gap: 20px;
    font-size: 16px;
    align-items: center;
}

.includes-text img {
    width: 20px;
    height: fit-content;
}

.includes-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-container {
    width: 1200px;
    height: 204px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -545px;
}

.footer {
    width: 1200px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.facebook {
    width: 167px;
    height: 44px;
    border-radius: 18px;
    background-color: #FAFBFC;

}

.instagram {
    width: 167px;
    height: 44px;
    border-radius: 18px;
    background-color: #FAFBFC;
}

.face-insta-container {
    display: flex;
    gap: 20px;
}

.footer-tour-logo img {
    width: 101px;
    height: 35px;
}

.face-insta-container img {
    width: 24px;
    height: 24px;

}

.face-insta-container {
    color: #6972B5;
    
}
.facebook {
    display: flex;
    align-items: center;
    font-size: 10px;
    gap: 10px;
    justify-content: center;
}

.instagram{
    display: flex;
    align-items: center;
    font-size: 10px;
    gap: 10px;
    justify-content: center;
}