* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    max-width: 2500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.container1 {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
}

.backgroundImg {
    width: 100%;
    top: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: 30px;

}

.HeaderText {
    display: flex;
    color: #FFFFFF;
    gap: 30px;
}

.HeaderEnd {
    background-color: #FFFFFF;
    border-radius: 100%;
    font-size: 14px;
    padding: 5px;
}

.tourlogo img {
    width: 101px;
    height: 35px;
}

.container1Text {
    color: #FFFFFF;
    position: absolute;
    top: 150px;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.container1Text h5 {
    color: #E8EDF2B8;
}

.container2 {
    width: 1440px;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 30px;

}

.LocationPhoto {
    position: relative;

}

.photos1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;

}

.photos1 img {
    width: 250px;
    border-radius: 30px;
    box-shadow: 7px 8px #29728B40, -7px -8px #1F72AA75;
}

.TerkhiinTsagaan {
    position: relative;
}

.LAKE {
    position: absolute;
    top: 150px;
    color: #FDFDFECC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    left: 27px;
}

.container3 {
    /* margin-top: 12px; */
    position: relative;
}

.MapImgText {
    position: absolute;
    top: 120px;
    left: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.MapImgText h1 {
    font-size: 42px;
    color: #000000;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;


}

.MapImgText p {
    font-size: 20px;
    color: #18181BB2;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;


}

.SukhbaatarSquare {
    width: 513px;
    height: 112px;
    background-color: #EEE9D9;
    border-radius: 120px;
    position: absolute;
    top: 300px;
    left: 130px;


}

.SquareText {
    position: relative;

}

.pinSvg {
    width: 14px;
}

.day {
    position: absolute;
    background-color: #F7F6F3;
    font-size: 8px;
    padding: 18px 8px;
    border-radius: 100%;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 149;
    font-style: normal;
    top: 30px;
    right: 30px;

}

.SukhbaatarSquare p {
    font-size: 14px;
    color: #18181B;
}

.SquareText2 {
    position: absolute;
    top: 33px;
    left: 33px;

}

.SquareText3 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
    height: 30px;

}

.SquareText2 h1 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-size: 22px;
}

.AmarbaysgalantMonastery {
    width: 513px;
    height: 112px;
    background-color: #8BB8C1CC;
    border-radius: 120px;
    position: absolute;
    top: 425px;
    left: 130px;
}

.KhorgiinTogoo {
    width: 513px;
    height: 112px;
    background-color: #AAD8D7CC;
    border-radius: 120px;
    position: absolute;
    top: 550px;
    left: 130px;
}

.TerkhiinTsagaanLake {
    width: 513px;
    height: 112px;
    background-color: #8BC0BDCC;
    border-radius: 120px;
    position: absolute;
    top: 675px;
    left: 130px;
}

.KhuvsgulLake {
    width: 513px;
    height: 112px;
    background-color: #97CCE0CC;
    border-radius: 120px;
    position: absolute;
    top: 800px;
    left: 130px;
}

.container4 {
    margin-top: 1px;
    width: 1440px;
    height: 1120px;
    background-image: url(./photos/Price&Footer\ image.png);
    position: absolute;
    margin-top: 3411px;
}

.FooterText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FooterText h1 {
    font-size: 41px;
    padding: 5px;
}

.FooterText p {
    font-size: 20px;
    padding: 5px;
    color: #18181BB2;
}

.PriceContainer1 {
    width: 384px;
    height: 527px;
    background-color: #FAFBFC;
    border-radius: 40px;

}

.PriceBudget {
    width: 384px;
    height: 92px;
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 18px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

.PriceBudget img {
    width: 36px;
    margin-left: 30px;
}
.Price500 h1{
 color: #303030;
 font-size: 40px;
 font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.Price500 p{
    font-size: 16px;
    color: #919191;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}
.Price500{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.PriceText img{
    width: 20px;
}
.Check{
    display: flex;
    gap: 20px;
    width: 336px;
    height: 20px;

}
.includes{
    font-size: 18px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}
.PriceText{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.ContainerCheck{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.SelectPackage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30px;
}

